.Card {
  margin-top: 10px;
}
.Test{
  height: 1400px;
  object-fit: contain;
  width: 100%;
}
.CardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.Decoration {
  text-decoration: none;
}

.Space i {
  text-align: center;
  justify-content: center;
  margin: 10px;
}
span:hover {
  cursor: pointer;
}

.Scroll {
  height: 110px;
  overflow-x: hidden;
  overflow-y: auto;
}
