.Card {
  margin-top: 10px;

}
.Test{
  object-fit: contain;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
}
.CardHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.Decoration {
  text-decoration: none;
}

.Space i {
  text-align: center;
  justify-content: center;
  margin: 10px;
}
span:hover {
  cursor: pointer;
}

.Scroll {
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}
